---
const articles = [
  {
    name: "Stay up-to-date with the latest happenings.",
    linkUrl: "#",
    date: "29 Jun 2024",
    tag: "building",
    author: "Admin",
    description:
      "Stay informed with our regular updates on significant events, regulatory changes, and market trends. We cover a wide range of topics, from new technological.",
    picUrl: "article1.jpg",
    main: true,
  },
  {
    name: "Practical advice and building step-by-step.",
    linkUrl: "#",
    tag: "building",
    author: "Admin",
    description:
      "Stay informed with our regular updates on significant events, regulatory changes, and market trends. We cover a wide range of topics, from new technological.",
    picUrl: "article2.jpg",
  },
  {
    name: "Insights perspective industry from our team.",
    linkUrl: "#",
    tag: "building",
    author: "Admin",
    date: "24 Jun 2024",
    description:
      "Stay informed with our regular updates on significant events, regulatory changes, and market trends. We cover a wide range of topics, from new technological.",
    picUrl: "article3.jpg",
  },
  {
    name: "most successful projects best building case studies",
    linkUrl: "#",
    tag: "building",
    author: "Admin",
    description:
      "Stay informed with our regular updates on significant events, regulatory changes, and market trends. We cover a wide range of topics, from new technological.",
    picUrl: "article4.jpg",
  },
];
const mainArticle = articles.find((article) => article.main);
---

<section class="blog" id="blog">
  <div class="blog__container">
    <h2 class="blog__title">Our Blog</h2>
    <h3 class="blog__subtitle">Latest Insights and Updates</h3>
    <div class="blog__main-article article article--main">
      <div class="article__text">
        <div class="article__info">
          <span class="article__author">By {mainArticle.author}</span>
          <span class="article__tag">{mainArticle.tag}</span>
        </div>
        <h4 class="article__title article__title--main">
          {mainArticle.name}
        </h4>
        <p class="article__description">
          {mainArticle.description}
        </p>
        <a class="article__link article__link--main" href={mainArticle.linkUrl}>
          Read More
          <svg class="article__link-icon article__link-icon--main">
            <use href="/assets/svg/sprite.css.svg#arrow-left"></use>
          </svg>
        </a>
      </div>
      <div class="article__img-wrap article__img-wrap--main">
        <img
          class="article__img article__img--main"
          src={`/assets/${mainArticle.picUrl}`}
          alt={mainArticle.name}
        />
        <span class="article__date article__date--main">{mainArticle.date}</span
        >
      </div>
    </div>
    <ul class="blog__articles blog__list">
      {
        articles
          .filter((article) => article !== mainArticle)
          .map((article) => (
            <li class="blog__item article">
              <div class="article__img-wrap">
                <img
                  class="article__img"
                  src={`/assets/${article.picUrl}`}
                  alt={article.name}
                />
                {article.date && (
                  <span class="article__date">{article.date}</span>
                )}
              </div>
              <div class="article__info">
                <span class="article__author">By {article.author}</span>
                <span class="article__tag">{article.tag}</span>
              </div>
              <h4 class="article__title">{article.name}</h4>
              <a class="article__link" href={article.linkUrl}>
                Read More
                <svg class="article__link-icon">
                  <use href="/assets/svg/sprite.css.svg#arrow-left" />
                </svg>
              </a>
            </li>
          ))
      }
    </ul>
    <a class="blog__btn" href="#">
      Read More <svg class="blog__btn-icon">
        <use href="/assets/svg/sprite.css.svg#arrow-up"></use>
      </svg>
    </a>
  </div>
</section>

<style>
  .blog {
    color: #0e0e0e;
    background-image: url("/assets/blog-bg.png");
    background-size: 312px auto;
    background-position: left bottom;
    background-repeat: no-repeat;
  }

  .blog__container {
    max-width: 1296px;
    margin: 0 auto;
  }

  .blog__title {
    font-size: 16px;
    line-height: 26px;
    padding-left: 25px;
    margin-bottom: 15px;
    position: relative;
  }

  .blog__title::before {
    content: "";
    display: block;
    width: 15px;
    height: 1px;
    background-color: #fb5b11;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .blog__subtitle {
    font-size: 52px;
    line-height: 62px;
    margin-bottom: 67px;
  }

  .blog__main-article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .blog__list {
    display: flex;
    gap: 24px;
    margin-bottom: 25px;
  }

  .blog__item {
    outline: 1px solid #d8d8d8;
    padding: 30px;
    transform: 0.3s ease;
  }

  .blog__item:hover {
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.05);
    outline: none;
  }

  .blog__btn {
    display: block;
    margin: 0 auto 73px;
    background-color: #fb5b11;
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    padding: 17px 35px;
    width: fit-content;
  }

  .blog__btn-icon {
    width: 15px;
    height: 15px;
  }

  .article {
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }

  .article--main {
    flex-direction: row;
  }

  .article__text {
    max-width: 459px;
  }

  .article__info {
    display: flex;
    gap: 16px;
    color: #555555;
    font-family: Barlow, Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 13px;
    margin-top: auto;
  }

  .article__author {
    padding-left: 41px;
    position: relative;
  }

  .article__author::before {
    content: "";
    display: block;
    width: 31px;
    height: 1px;
    background-color: #0e0e0e;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .article__tag {
    position: relative;
    padding-left: 16px;
  }

  .article__tag::before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #0e0e0e;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .article__tag::first-letter {
    text-transform: uppercase;
  }

  .article__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 14px;
  }

  .article__title--main {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 14px;
  }

  .article__description {
    font-size: 16px;
    line-height: 26px;
    font-family: Barlow, Arial, sans-serif;
    color: #555555;
    margin-bottom: 37px;
  }

  .article__link {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    color: inherit;
  }

  .article__link--main {
    color: #fb5b11;
  }

  .article:hover .article__link {
    color: #fb5b11;
  }

  .article__link-icon {
    width: 25px;
    height: 12px;
  }

  .article:hover .article__link-icon {
    fill: #fb5b11;
  }

  .article__link-icon--main {
    fill: #fb5b11;
  }

  .article__img-wrap {
    position: relative;
    flex: 1;
    display: flex;
    margin-bottom: 22px;
  }

  .article__img-wrap--main {
    width: 50%;
    flex: inherit;
  }

  .article__img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .article__img--main {
    height: 450px;
  }

  .article__date {
    width: 73px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    font-family: Barlow, Arial, sans-serif;
    background-image: url("/assets/article-date-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    padding: 8px 13px 8px 12px;
    position: absolute;
    bottom: 24px;
    right: 10px;
  }

  .article__date--main {
    font-size: 24px;
    line-height: 34px;
    padding: 24px 29px 31px 30px;
    top: 10px;
    left: 0;
    bottom: auto;
    right: auto;
    transform: translateX(-50%);
    width: 129px;
  }
</style>
